:root {
  --soft-black: #2d2d2d;
  --blue: #5a6a91;
  --dark-blue: #475270;
  --cream: #FEFDEE;
  --mute: #F5F5F5;
  --red: #932A24;
  --green: #4ABD24;
  --yellow: #FFDC76;
}

.white {
  background-color: var(--cream);
}

.outline {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-weight: 900;

}
  .App {
  text-align: center;
  background: var(--blue);
}

.text-soft-black {
  color: var(--soft-black);
}

.bg-soft-black {
  background-color: var(--soft-black);
}

.text-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue)
}

.text-mute {
  color: var(--mute);
}
.bg-mute {
  background-color: var(--mute) !important;
}

.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red)
}

.text-dark-blue {
  color: var(--dark-blue);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}

.text-cream {
  color: var(--cream);
}
.bg-cream {
  background-color: var(--cream) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}
