:root {
  --soft-black: #2d2d2d;
  --blue: #5a6a91;
  --dark-blue: #475270;
  --cream: #f5f5f5;
  --red: #932A24;
}

.green {
  background-color: #4ABD24;
}

.yellow {
  background-color: #FFDC76;
}

.white {
  background-color: var(--cream);
}

.outline {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-weight: 900;

}
  .App {
  text-align: center;
  background: var(--blue);
}

.text-soft-black {
  color: var(--soft-black);
}

.bg-soft-black {
  background-color: var(--soft-black);
}

.text-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue)
}

.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red)
}

.text-dark-blue {
  color: var(--dark-blue);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}

.text-cream {
  color: var(--cream);
}
.bg-cream {
  background-color: var(--cream);
}

.md-font {
  font-size: 20px;
}

.sm-font {
  font-size: 16px;
}

.xs-font {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.height-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.main {
  min-height: 80vh;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
