
.winner {
  background-image: url('../../public/fireworks.gif');
  background-size: contain;
}

.winSpin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.winMarquee {
  text-transform: uppercase;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 900;
  font-stretch: ultra-expanded;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
