input {
  width: 7.7ch;
}

.text-field {
  border:0;
  text-transform: uppercase;
  caret-color: red;
  background: repeating-linear-gradient(90deg,
		black 0, black 1ch,
		transparent 0, transparent 1.5ch)
    0 100%/ 7.5ch 3px no-repeat;

  font: 5ch monospace;
  font-family: 'Courier New', Courier, monospace;
	letter-spacing: 0.5ch;
  font-weight: 600;
}

input:focus{
    outline: none;
    background-color: white;
}

.row {
  min-height: 60px;
  min-width: 330px;
}

.letter {
  height: 60px;
  width: 70px;
  border: 2px solid black;
}

.counter {
  border: 2px black solid;
  font-size: 50px;
}
